@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesMain>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<h1>Check out our articles:</h1>
@{
	var selection = Umbraco.Content(Guid.Parse("55448624-83f3-4d72-abfb-449bce4c64cb"))
    .ChildrenOfType("articlesItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

